@use "../styles/variables" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Full viewport height

  .main-content {
    flex-grow: 1; // Takes up remaining space, pushing footer down
    padding: 20px;
    background-color: $bg-light-blue;
  }

  footer {
    margin-top: auto; // Pushes footer to the bottom
  }
}
