.info-popup {
    .MuiPaper-root {
      position: relative;
      min-width: 170px;
      max-width: 170px;
      padding: 8px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      overflow: hidden; 
    }
  
    // Arrow outside the popover, pointing to the icon
    .MuiPaper-root::after {
      content: "";
      position: absolute;
      bottom: -10px; // Aligns arrow correctly
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff; // Matches popover background
    }
  }
  